<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-white">
  <i class="fa-solid fa-box-open"></i>
  <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ titulo }}</h5>
  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Pedido entregue em: {{ dataEntrega }}</p>
  <span href="#" class="inline-flex font-medium items-center text-green-600 hover:underline">
      R$ {{ preco }}
  </span>
</div>
