<section>
  <app-container>
    <app-header-orders></app-header-orders>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 justify-items-center my-5">
      <app-orders titulo="Café Expresso" dataEntrega="13/06/2024" preco="12.65"></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
      <app-orders></app-orders>
    </div>
  </app-container>
</section>
