<div class="text-center">
  <h1 class="text-4xl font-bold">Bem-vindo ao seu pedido rápido!</h1>
  <p>Faça o seu pedido em instantes e volte a fazer suas responsabilidades</p>
  <form class="flex items-center max-w-sm mx-auto py-5">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 21h8M8 3h8v18H8zM5 9h14"/>
        </svg>
      </div>
      <input type="text" id="simple-search" class="bg-white border border-gray-300 text-gray-700 text-sm rounded-lg block w-full ps-10 p-2.5" placeholder="Busque seu produto favorito..." />
    </div>
    <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-black bg-green-700 rounded-lg border hover:bg-green-800 focus:ring-4 focus:outline-none dark:bg-green-600 dark:hover:bg-green-700">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
      <span class="sr-only">Search</span>
    </button>
  </form>
</div>
