<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="solicitar-pedido">
  <app-container>
    <app-welcome></app-welcome>
    <app-container-products>
      <app-product titulo="Café Cerrado Mineiro" preco="20.12" urlImagem="../../../assets/imagens/cerrado-mineiro.jpeg"></app-product>
      <app-product titulo="Café Extraforte" preco="12.90" urlImagem="../../../assets/imagens/cafe-extraforte.jpg"></app-product>
      <app-product titulo="Café Descafeinado" preco="16.70" urlImagem="../../../assets/imagens/cafe-descafeinado.jpeg"></app-product>
      <app-product titulo="Café Estrada Real" preco="25.35" urlImagem="../../../assets/imagens/cafe-estrada-real.jpeg"></app-product>
    </app-container-products>
  </app-container>
</div>
<div class="listar-pedidos">

</div>
<div class="onde-estamos">

</div>
