<section>
  <app-container>
    <app-welcome></app-welcome>
    <div class="flex items-center max-w-sm mx-auto py-5">
      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 21h8M8 3h8v18H8zM5 9h14"/>
          </svg>
        </div>
        <input
          type="search"
          id="simple-search"
          class="bg-white border border-gray-300 text-gray-700 text-sm rounded-lg block w-full ps-10 p-2.5"
          placeholder="Busque seu produto"
          [(ngModel)]="filterByText"
          (input)="filterProductsByText()"
        />
      </div>
    </div>
    <app-container-products>
      @for (product of productsList; track product.id) {
        <app-product [titulo]="product.titulo" [preco]="product.preco" [urlImagem]="product.urlImagem"></app-product>
      }
    </app-container-products>
  </app-container>
</section>
